/* 
    Crée le  : 19 avr. 2023, 17:19:58
    Auteur     : sdayar
    Description : Page css pour la présentation
*/
body{
background: rgb(251,63,239);
background: linear-gradient(90deg, rgba(251,63,239,1) 0%, rgba(31,141,219,1) 100%);
}

