/* 
    Crée le  : 19 avr. 2023, 17:19:58
    Auteur     : sdayar
    Description : Page css pour la présentation
*/
body{
    margin:0px;
    background-image:url("../fond_image.png");
    background-size:cover;
    z-index:-1;
    
}





 ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    /* Alerte pour une maintenance */
.maintenance{

border:2px solid red;
position:absolute;
margin-top:120px;
right:0;
z-index:1;

}
.maintenance p{
    color:red;
}
.maintenance button{
    border:1px solid transparent;
    border-radius:5px 5px 5px;
}


//Alerte pour une maintenance//
 
header{
  z-index:0;
  height:560px;
  width:100%;
}
header section{
    display:none;
    position:fixed;
    width:100%;
    top:0px;
  }
  header section .cont_menu_lat{
    display:none;
    position:absolute;
     z-index: 3;
     width:100%
    }
article .barrelat{
     list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background-color:white;
    animation: barrelat 1s linear;
    width:60%;

  }
  article .barrelat li {
    margin: 15px ;
  }
  article .barrelat li a{
    text-decoration:none;
    color:black;
    font-family:sans-serif;
    font-size:16px;
    border-bottom:2px solid black;
  }


  /*////////////////////Animation de la barre latérale/////////////////////////////////*/
@keyframes barrelat{
    from{
      
        transform: translateX(-8px);
    }
    to{
        
        transform: translatX(0px);
    }
}


  .btn_menu_lat:hover{
    cursor: pointer;
  }
 .nom{
      color:black;
      font-family:sans-serif;
  }
  .croix{
    margin: 2px;
}
.croix:hover{
    cursor: pointer;
}
.en_tete{
    display:none;
}
.en_tete i{
         display:none;
     }
/*/////////////////////////////////////Fin de la barre lateralle//////////////////////////////////////////*/

/*////////////////////////////Menu déroulant//////////////////////////////*/
nav .menu_deroulant{
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    margin-top:0px;
    
}
nav .menu_deroulant li a{
    text-decoration:none;
    color:white;
    font-size:1em;
}
/*//////////////////////////////animation pour surligner les rubriques////////////////////////////////::*/
nav .menu_deroulant li::after{
     content:"";  
     display:flex;
     height:3px;
     margin: 0 auto;
     width:0%;
     transition: width 1s ease-in-out;
     background-color:white;
}
nav .menu_deroulant li:hover::after{
       width:100%;
}
 /*Fin de l'animation*/
 /*Barre de navigation au scroll*/
.scroll{
    background-color:rgba(121, 117, 119, 0.8);
    width:100%;
    top:0px;
    position:fixed;
    height:50px;
    z-index:1;
    animation: scroll 0.5s ease-in-out;
    
 }
.scroll .menu_deroulant{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
 }
 
.scroll .menu_deroulant li{
    margin-top:0px;
}
@keyframes scroll{
    from{
        opacity:0;
        transform:translateY(0);
    }
    to{
        opacity:1;
        transform:translateY(1px);
    }
}
 /*Fin de la barre de navigation au scroll*/
 
 /*Barre de navigation "Veilles"*/
 .sous_barre{
   list-style-type:none;
   display:none;
   flex-direction: column;
   justify-content: center;
   position:absolute;
   background-color: white;
   border-radius:5px;
   }
 .menu_deroulant > li:hover .sous_barre{
        display:flex;
   }
  .menu_deroulant li .sous_barre li a{
    text-decoration:none;
    font-family:sans-serif;
    font-size:15px;  
    color:black;
   }
   .sous_barre li:before{
       content: '- ';
   }
///////////////////////////////////Titre Bienvenue///////////////////////////////////////////////////////
.titre_bvn{
    opacity:0px;
    background-color:white;
    animation:glisse_droite 30s linear;
    animation-timeline:view();
    will-change:transform;
}
@keyframes glisse_droite{
    to{
      transform: translateY(0);
      
    }
     to{
      transform: translateY(2px);
      opacity:1px;
    }
}
.titre_bvn h1{
 background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: white;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}









////////////////////////////Conteneur de la boite moi////////////////////////
.boite_moi{
    float:right;
    width:30%;
    display:flex;
    flex-direction:row;
    
}
.boite_moi:first-child{
    z-index:1;
    object-fit:cover;
}

.moi{
    z-index:0;
    background-color:transparent;
    width:20%;
    animation:moi 1s ease;
    animation-timeline:view();
    color:white;
    }

/*animation de la boite Qui suis-je ?*/
@keyframes moi{
from{
    opacity:0;
    
}
to{
    opacity:1;
    
    }
}
  
 /*Pied de la page*/
 footer{
     width:100%;
     background-color:transparent;
     position:absolute;
     bottom: 0px;
     font-size:1em;
     display:flex;
    flex-direction:row;
    justify-content:space-around;
     
 }

footer section h3{
     
     
      
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:white;
     width:60%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
       width:97%;
       height:50px;
 }












 //////////////////////Partie responsive pour un smartphone de taille standard////////////////// 
 @media only screen and (max-device-width: 480px) {
  
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-between;
         align-content: center;
         flex-wrap: wrap;
         flex:300px;
     }
     
     header{
         background-image:none;
         height:250px;
         } 

         header h1{
       visibility: hidden;
         }
     /*//////////////////////////Menu déroulant/////////////////////////////*/
     nav .menu_deroulant{
    list-style-type: none;
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:3px;
    background-color: red;
    }
    nav .menu_deroulant li a{
    text-decoration:none;
    color:darkblue;
    font-family:fantasy;
    font-size:22px;
    
}
.scroll{
    display:none;
}
     .en_tete{
    display:block;
}
    .en_tete i{
         display:block;
     }

header section{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
}

/*////////////////////////Din de la partie barre de navigation////////////////*/
/*animation de la boite Qui suis-je ?*/
#premieresec{
      
       width:100%;
       height:432px;
       margin-top:13px;
}
/*conteneur de la boite moi*/
.boitemoi{
margin-top: 0px;
} 
.moi{
    background-color:white;
    text-align:justify;
    font-size:16px;
    width:100%;
    box-shadow:3px 3px 2px gray;
    border: 5px solid white;
    border-radius:6px;
    margin-left:0px;
    margin-top:2px;
    animation:moi 1s ease;
}
/*Fin*/

/*Pied de la page*/
 footer{
     width:100%;
     margin-top:20px;
     background-color:black;
     text-align:center;
     margin-bottom: 0px;
     display:flex;
    flex-direction: column-reverse;
    justify-content:space-around;
 }
 
footer section h3{
     
      color:white;
      font-family:sans-serif;
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-family:sans-serif;
     font-size:17px;
     width:80%;
     transition:width 1s ease-in-out;
     margin-top: 3px;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
         background-color:white;
       width:100%;
       height:100px;
 }
     


}
//Partie responsive pour un device de largeur située entre un smartphone et une tablette//
@media only screen and (max-device-width: 780px) and (min-device-width: 480px) {
    
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-between;
         align-content: center;
         flex-wrap: wrap;
         flex:300px;
     }
header{
background-image:none;
height:200px;

         } 
          header h1{
           visibility: hidden;
         }
    /*/////////////////////////Menu déroulant///////////////////////*/
nav .menu_deroulant{
list-style-type: none;
display:none;
flex-direction:column;
justify-content:space-evenly;
margin-top:3px;
background-color: red;
}
 nav .menu_deroulant li a{
text-decoration:none;
color:darkblue;
 font-family:fantasy;
 font-size:22px;
    
}
.scroll{
    display:none;
}
.boitemoi{
    margin-top: 0px;
}
header section{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
}
    .en_tete{
    display:block;
}
    .en_tete i{
         display:block;
     }
/*//////////////////////FIn du menu déroulant////////////*/
/*animation de la boite Qui suis-je ?*/

.moi{
    background-color:white;
    margin-top:2s;
    width:100%;
    box-shadow:3px 3px 2px gray;
    border: 5px solid white;
    border-radius:6px;
   text-align:justify;
    animation:moi 1s ease;
}
/*Fin*/

/*Pied de la page*/
 footer{
    width:100%;
    margin-top:20px;
    background-color:black;
    margin-bottom: 0px;
    display:flex;
    flex-direction:column-reverse;
    justify-content:space-evenly;
    text-align: center;
     z-index: 1;

 }
footer section{
     height:300px;
}
footer section h3{
     
      color:white;
      font-family:sans-serif;
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-family:sans-serif;
     font-size:17px;
     width:80%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
        background-color:white;
       width:100%;
       height:100px;
 }
}

