
/* 
    Created on : 14 mai 2023, 00:13:15
    Author     : sdayar
    Description : Page css qui lié à Profil.html
*/

/*@import url('https://fonts.cdnfonts.com/css/public-pixel');*/
body{
    margin:0px;
    padding:0px;
    font-family:system-ui;
}
html{
    scroll-behavior:smooth;
}
header{
  height:250px;
  width:100%;
}
/*Barre latérale*/
header section{
    display:none;
    position:fixed;
    width:100%;
    top:0px;
    background-color:white;
  }
  header section .cont_menu_lat{
    display:none;
    position:absolute;
    z-index: 3;
    width:100%
     
 }

 article .barrelat{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: white;
    animation: barrelat 1s ease;
    width:90%;
    margin-top:-9px;

  }
  article .barrelat li {
    margin: 15px ;
  }
/*article .barrelat li:last-child
{
    background-color:black;
    color:white;
    border:1px solid transparent;
    border-radius:5px 5px 5px 5px;
    
}*/
  article .barrelat li a{
    text-decoration:none;
    color:black;
    font-size:1em;
  }
  }

  /*Animation de la barre latérale*/
@keyframes barrelat{
    from{
        opacity: 0px;
        transform: translateX(-8px);
    }
    to{
        opacity: 1px;
        transform: translatX(0px);
    }
}
.btn_menu_lat:hover{
    cursor: pointer;
  }
  .nom{
    background-image: 
linear-gradient(90deg, rgba(129,129,129,1) 0%, rgba(42,44,47,1) 36%, rgba(53,53,61,1) 68%, rgba(204,202,202,1) 84%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: white;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} 
.croix,.btn_menu_lat{
    position:fixed;
}
.croix{
   right:3%;/*Abscisse*/
    top:2%;/*Ordonné*/
}
.btn_menu_lat{
    left:2%;/*Abscisse*/
    top:2%;/*Ordonné*/
    }
/*Fin de la barre latérale*/
nav .menu_deroulant{
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    margin-top:0px;
    
}
nav .menu_deroulant li a{
    text-decoration:none;
    color:black;
    font-size:1em;
}
/*animation pour surligner les rubriques*/
nav .menu_deroulant li::after{
     content:"";  
     display:flex;
     height:3px;
     margin: 0 auto;
     width:0%;
     transition: width 1s ease-in-out;
     background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(42,44,47,1) 36%, rgba(83,83,92,1) 52%, rgba(204,202,202,1) 84%);
}
nav .menu_deroulant li:hover::after{
       width:100%;
}
 /*Fin de l'animation*/
 /*Barre de navigation au scroll*/
.scroll{
    background:linear-gradient(90deg, rgba(210,210,210,1) 0%, rgba(167,188,220,1) 36%, rgba(128,128,141,1) 52%, rgba(204,202,202,1) 84%);
    width:100%;
    top:0px;
    position:fixed;
    height:50px;
    
 }
.scroll .menu_deroulant{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
 }
 
.scroll .menu_deroulant li{
    margin-top:0px;
}
 /*Fin de la barre de navigation au scroll*/
 
 /*Barre de navigation "Veilles"*/
 .sous_barre{
   list-style-type:none;
   display:none;
   flex-direction: column;
   justify-content: center;
   position:absolute;
   background-color: white;
   border-radius:5px;
   }
.menu_deroulant > li:hover .sous_barre{
        display:flex;
   }
   .menu_deroulant li .sous_barre li a{
    text-decoration:none;
    font-size:1em;  
    color:black;
   }

  /*Section de photo de profil*/
 .titre{
    width:30%;
    height:100px;
 }
 .titre article{
     width:100%;
     background-color:transparent;
     height:100%;
     display:flex;
     flex-direction:column;
     justify-content:center;
     border-left:2px solid gray;
  }
  /*première section*/
  .premieresec{
     width:90%;
     border:1px solid transparent;
     box-shadow:5px 0px 3px gray;
     box-sizing:border-box;
     
  }
 /*Section qui présente le texte des compétences informatiques*/
 .competence_tec_txt{
     background-color:transparent;
     width:90%;
     border:1px solid transparent;
     border-radius:4px;
 }


 /*articles représentants les langages informatques*/
 .competence_tec{
     display:flex;
     flex-direction:row;
     overflow:hidden;
     justify-content:space-evenly;
     border:1px solid white;
     
     width:90%;
     overflow-x: hidden;
     margin-top:40px;
  }
 .competence_tec article{
     border:1px solid white;
     /*postition-x:position-y; degrès de flou (blur-radius); rayon-d'étalement*/
     box-shadow: 0px 5px 1px  gray;
     box-sizing:border-box;
     width:33%;
     transition: width 1s ease-in-out;
     cursor:auto;
     }
 .competence_tec article:hover{
         width:50%;
    }
 /*Suite de la partie compétence technique*/
.comp_tec{
     margin-top:80px;
     display:flex;
     flex-direction:row;
     justify-content:space-between;
 }
 .comp_tec aside{
    width:100%;
    overflow-y: hidden;
    
 }
 .comp_tec aside article img{
     width:30%;
     transition:width 1s ease-in-out;
 }
 .comp_tec aside article img:hover{
     width:25%;
     cursor:zoom-out;
     }
 /*Compétences linguistiques*/
 .competence_ling{
     margin-top:130px;
     background-color:transparent;
     border:1px solid transparent;
     border-radius:4px;
     width:80%;
     box-shadow:5px 0px 3px gray;
     box-sizing:border-box;
 }
 .competence_ling .gr_liste_ln li{
     font-size:1em;
     margin-top:10px;
    }
 .competence_ling .gr_liste_ln{
     list-style-type: none;
     display:flex;
     flex-direction:column;
     justify-content:space-evenly;
     width:60%;
}
 li .liste_langue{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    justify-content:space-between; 
     padding:0;
 }
 li .liste_langue li{
    z-index:-1;
    background-color:white;
    border:1px solid black;
    border-radius:5px;
    width:100%;
 }
 /*Français oral*/
 #niveau_fr{
    z-index:5;
    width:0;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);
    float:left;
    transition: width 1s ease;
     object-fit:contain !important;
 }
 #niveau_fr:after{
     content:'Oral : 90%';
     color:white;
 }
 /*Français écrit*/
 #niveau_fr_e{
    z-index:5;
    width:0;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);
    float:left;
    transition: width 1s ease;
      object-fit:contain !important
 }
 #niveau_fr_e:after{
     content:'Ecrit : 89%';
     color:white;
 }
  /*Anglais oral*/
 #niveau_an{
    z-index:5;
    width:0;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);
    float:left;
    transition: width 1s ease;
    object-fit:contain !important
 }
 #niveau_an:after{
     content:'Oral : 65%';
     color:white;
 }
 /*Anglais écrit*/
 #niveau_an_e{
    z-index:5;
    width:0;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);
    float:left;
    transition: width 1s ease;
    object-fit:contain !important
 }
 #niveau_an_e:after{
     content:'Ecrit : 70%';
     color:white;
 }
 
 /*barre pour les niveau*/ 
 /*Fin de la deuxième section*/
 /*Section Distinction*/
 .distinction{
   height:500px; 
   background-color:transparent;
   border:1px solid transparent;
   border-radius:4px;
   width:40%;
   box-shadow:5px 0px 3px gray;
   box-sizing:border-box;   
 }
 .distinction img{
     width:100%;
     height:85%;
     transition: width 1s ease-in-out;
 }
 .distinction img:hover{
     width:90%;
     cursor:zoom-out;
    
 }
 
 /*Pied de la page*/
 footer{
     width:100%;
     margin-top:50px;
     background-color:black;
     margin-bottom:0px;
     
    display:flex;
    flex-direction:row;
    justify-content:space-around;
 }
footer section{
     height:300px;
}
footer section h3{
     color:white;
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:white;
     font-size:1em;
     width:60%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
       width:97%;
       height:50px;
 }
  /*Partie responsive pour un smartphone de taille standard*/ 
 @media only screen and (max-device-width: 480px) {
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-evenly;
         align-content: center;
         
     }
     
     header{
         background-image:none;
    } 
     .en_tete{
    display:block;
}
     nav .menu_deroulant{
    list-style-type: none;
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:3px;
    background-color: red;
    }
    nav .menu_deroulant li a{
    text-decoration:none;
    color:darkblue;
    font-size:1em;
    
}
.scroll{
    display:none;
}
header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
/*première section*/
  .premieresec{
     width: 100%;
     border:1px solid transparent;
     display:flex;
     flex-direction:column;
     justify-content:space-between;
 }
  
 /*Section qui présente le texte des compétences informatiques*/
 
 
 /*articles représentants les langages informatques*/
 .competence_tec{
     display:none;
}
 /*Suite de la partie compétence technique*/
.comp_tec{
     width: 100%;
     display:flex;
     flex-direction:column;
     justify-content:space-between;
 }
.comp_tec aside{
    width:100%;
}
 .comp_tec aside h1{
    color: black;
 }
 .comp_tec aside article img{
     width:30%;
     transition:width 1s ease-in-out;
 }
 .comp_tec aside article img:hover{
     width:25%;
     cursor:zoom-out;
     }
  /*Compétences linguistiques*/
  
 .competence_ling{
     margin-top: 10px;
     background-color:transparent;
     border:1px solid transparent;
     border-radius:4px;
     width:100%;
     box-sizing:border-box;
 }
 .competence_ling .gr_liste_ln li{
     font-size:1em;
     margin-top:10px;
}
 .competence_ling .gr_liste_ln{
     list-style-type: none;
     display:flex;
     flex-direction:column;
     justify-content:space-evenly;
     width:60%;
    }
 li .liste_langue{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    justify-content:center; 
 }
 li .liste_langue li{
     z-index:-1;
    background-color:white;
    margin-right:100px;
    border:1px solid black;
    border-radius:5px;
    width:100%;
 }
 /*Français oral*/
 #niveau_fr{
    z-index:5;
    width:90%;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);
    float:left;
 }
 #niveau_fr:after{
     content:'Oral : 90%';
     color:white;
 }
 /*Français écrit*/
 #niveau_fr_e{
    z-index:5;
    width:89%;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);;
    float:left;
 }
 #niveau_fr_e:after{
     content:'Ecrit : 89%';
     color:white;
 }
  /*Anglais oral*/
 #niveau_an{
    z-index:5;
    width:65%;
    background-color:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);;
    float:left;
 }
 #niveau_an:after{
     content:'Oral : 65%';
     color:white;
 }
 /*Anglais écrit*/
 #niveau_an_e{
    z-index:5;
    width:70%;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);;
    float:left;
 }
 #niveau_an_e:after{
     content:'Ecrit : 70%';
     color:white;
 }
 
 /*barre pour les niveau*/ 
 /*Fin de la deuxième section*/
 .distinction{
    width: 100%;
 }
/*Pied de la page*/
 footer{
     width:100%;
     margin-top:20px;
     background-color:black;
     text-align: center;
      margin-bottom: 0px;
     display:flex;
    flex-direction: column-reverse;
    justify-content:space-around;
     font-size:1em;
 }

footer section h3{
     
      color:white;
    
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-size:1em;
     width:80%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
       background-color:white;
       width:100%;
       height:100px;
 }
}
/*Partie responsive pour un smartphone de taille standard et un peu plus*/ 
 @media only screen and (max-device-width: 780px) and (min-device-width: 480px){
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-evenly;
         align-content: center;
         
     }
     
     header{
         background-image:none;
     
 
         } 
     nav .menu_deroulant{
    list-style-type: none;
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:3px;
    }
    nav .menu_deroulant li a{
    text-decoration:none;
    color:black;
    font-size:1em;
    
}
 .en_tete{
    display:block;
}
.scroll{
    display:none;
}
header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#apropos{
    font-family: cursive;
    font-size: 1em;
    color: black;
  }


  /*Section de photo de profil*/

  .photoprofil{
    width:100%;
    border:1px solid transparent;
    box-shadow:5px 0px 3px gray;
    box-sizing:border-box; 
    display: flex;
    flex-direction: column-reverse;
   margin-top: 0px;

      }
  .photo{
     display: flex;
     flex-direction: row;
     justify-content: center;
      width:100%;


     }
  .photo img{
     
      display: none;
      border-radius:5px;
      margin-bottom: 4px;

    }
  .texteprofil{
      width:100%;

     
  }
  
  /*première section*/
  .premieresec{
     width: 100%;
     border:1px solid transparent;
     display:flex;
     flex-direction:column;
     justify-content:space-between;
 }
  
 /*Section qui présente le texte des compétences informatiques*/
 .competence_tec_txt{
     background-color:transparent;
     width:90%;
     border:1px solid transparent;
     border-radius:4px;
 }
 .competence_tec_txt p{
    text-align: normal;
 }
 
 /*articles représentants les langages informatques*/
 .competence_tec{
     display:none;

     
  }
 
 /*Suite de la partie compétence technique*/
.comp_tec{
     width: 100%;
     display:flex;
     flex-direction:column;
     justify-content:space-between;
 }
   
 
 .comp_tec aside{
    width:100%;
    
 }
 .comp_tec aside h1{
    color: black;
 }
 .comp_tec aside article img{
     width:30%;
     transition:width 1s ease-in-out;
 }
 .comp_tec aside article img:hover{
     width:25%;
     cursor:zoom-out;
     
 }
  /*Compétences linguistiques*/
  
 .competence_ling{
     margin-top: 10px;
     background-color:transparent;
     border:1px solid transparent;
     border-radius:4px;
     width:100%;
     box-sizing:border-box;
 }
 .competence_ling .gr_liste_ln li{
     font-size:1em;
     margin-top:10px;
    
 }
 .competence_ling .gr_liste_ln{
     list-style-type: none;
     display:flex;
     flex-direction:column;
     justify-content:space-evenly;
     width:60%;
    
 }
 li .liste_langue{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    justify-content:center; 
 }
 li .liste_langue li{
    z-index:-1;
    background-color:white;
    margin-right:100px;
    border:1px solid black;
    border-radius:5px;
    width:100%;
 }
 /*Français oral*/
 #niveau_fr{
    z-index:5;
    width:90%;
    background-color:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);
    float:left;
 }
 #niveau_fr:after{
     content:'Oral : 90%';
     color:white;
 }
 /*Français écrit*/
 #niveau_fr_e{
    z-index:5;
    width:89%;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);
    float:left;
 }
 #niveau_fr_e:after{
     content:'Ecrit : 89%';
     color:white;
 }
  /*Anglais oral*/
 #niveau_an{
    z-index:5;
    width:65%;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);
    float:left;
 }
 #niveau_an:after{
     content:'Oral : 65%';
     color:white;
 }
 /*Anglais écrit*/
 #niveau_an_e{
    z-index:5;
    width:70%;
    background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(22,72,148,1) 36%, rgba(129,129,157,1) 52%, rgba(204,202,202,1) 84%);
    float:left;
 }
 #niveau_an_e:after{
     content:'Ecrit : 70%';
     color:white;
 }
 
 /*barre pour les niveau*/ 
 /*Fin de la deuxième section*/
 .distinction{
    width: 100%;
 }
/*Pied de la page*/
 footer{
     width:99%;
     margin-top:20px;
     background-color:black;
     text-align: center;
      margin-bottom: 0px;
     display:flex;
    flex-direction: column-reverse;
    justify-content:space-around;
     font-size:1em;
 }

footer section h3{
     
      color:white;
      
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-size:1em;
     width:80%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
       backround-color:white;
       width:99%;
       height:100px;
 }
}

 
