
/* 
    Created on : 19 mai 2023, 13:11:28
    Author     : sdayar
description : veille juridique 

*/
body{
    margin:0px;
    padding:0px;
}
header{
  background-image:url("../images/banniere.png");
  background-repeat:no-repeat;
  background-size:cover;
  height:250px;
}
/*Barre latérale*/
header section{
    display:none;
    position:fixed;
    
    width:100%;
    
    top:0px;
    background-color:white;
  }
  header section .cont_menu_lat{
    display:none;
    position:absolute;
     z-index: 3;
     width:100%
     
 }
 article .barrelat{
     list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: white;
    animation: barrelat 1s ease;
    width:40%;
    margin-top:-9px;

  }
  article .barrelat li {
    margin: 15px ;
  }
  article .barrelat li a{
    text-decoration:none;
    color:black;
    font-family:sans-serif;
    font-size:16px;
    border-bottom:2px solid black;
  }
.barrelat li a:hover::before{
    content:" -> ";
    color:black;
}

  /*Animation de la barre latérale*/
@keyframes barrelat{
    from{
        opacity: 0px;
        transform: translateX(-8px);
    }
    to{
        opacity: 1px;
        transform: translatX(0px);
    }
}

  .btn_menu_lat:hover{
    cursor: pointer;
  }
 .nom{
      color:white;
      font-family:sans-serif;
  }
  .croix{
    margin: 2px;
}
.croix:hover{
    cursor: pointer;
}
.en_tete{
    display:none;
}
/*Fin de la barre latérale*/
nav .menu_deroulant{
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    margin-top:0px;
    
}
nav .menu_deroulant li a{
    text-decoration:none;
    color:white;
    font-family:fantasy;
    font-size:22px;
}
/*animation pour surligner les rubriques*/
nav .menu_deroulant li::after{
     content:"";  
     display:flex;
     height:3px;
     margin: 0 auto;
     width:0%;
     transition: width 1s ease-in-out;
     background-color:white;
}
nav .menu_deroulant li:hover::after{
       width:100%;
}
 /*Fin de l'animation*/
 /*Barre de navigation au scroll*/
.scroll{
    background-color:rgba(11, 1, 30, 0.9);
    width:100%;
    top:0px;
    position:fixed;
    height:50px;
    
 }
.scroll .menu_deroulant{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
 }
 
.scroll .menu_deroulant li{
    margin-top:0px;
}
 /*Fin de la barre de navigation au scroll*/
 
 /*Barre de navigation "Veilles"*/
.sous_barre{
   list-style-type:none;
   display:none;
   flex-direction: column;
   justify-content: center;
   position:absolute;
   background-color: white;
   border-radius:5px;
   }
.menu_deroulant > li:hover .sous_barre{
        display:flex;
   }
.menu_deroulant li .sous_barre li a{
    text-decoration:none;
    font-family:sans-serif;
    font-size:15px;  
    color:black;
   }
.sous_barre li:before{
    content: '- ';
   }
    /*Premier bloc*/
 .titre{
    margin-top:90px;
    width:30%;
    height:100px;
 }
 .titre article{
     width:100%;
     background-color:transparent;
     height:100%;
     display:flex;
     flex-direction:column;
     justify-content:center;
     border-left:2px solid gray;
  }
 /*Fin du bloc titre*/
 /*Boite*/
 .boite{
     margin-top:150px;
     width:90%;
     
     border:1px solid transparent;
     box-shadow:5px 0px 3px gray;
     box-sizing:border-box;
     display:flex;
     flex-direction:row;
 }
 /*Boite actualité*/
 .actu{
     margin-top:50px;
     width:30%;
 }
 .actu article{
     border:2px dotted darkred;
     width:100%;
 }
  /*Pied de la page*/
 footer{
     width:100%;
     margin-top:150px;
     background-color:rgba(24, 13, 49, 1);
     margin-bottom:0px;
   
    display:flex;
    flex-direction:row;
    justify-content:space-around;
 }
footer section{
     height:300px;
}
footer section h3{
     
      color:white;
      font-family:sans-serif;
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-family:sans-serif;
     font-size:17px;
     width:60%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
       width:97%;
       height:50px;
 }
 @media only screen and (max-device-width: 480px) {
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-evenly;
         align-content: center;
         
     }
     
     header{
         background-image:none;
        
         } 
     nav .menu_deroulant{
    list-style-type: none;
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:3px;
    background-color: red;
    }
    nav .menu_deroulant li a{
    text-decoration:none;
    color:darkblue;
    font-family:fantasy;
    font-size:22px;
    
}
.scroll{
    display:none;
}
header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
object{
    display: none;
}
.actu{
    width: 90%;
}

/*Pied de la page*/
 footer{
     width:100%;
     background-color:darkblue;
     margin-bottom: 0px;
     text-align: center;
     display:flex;
    flex-direction: column-reverse;
    justify-content:space-around;
 }
footer section{
     height:300px;
}
footer section h3{
     
      color:white;
      font-family:sans-serif;
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-family:sans-serif;
     font-size:17px;
     width:80%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
    
       width:100%;
       height:80px;
 }
 }
 @media only screen and (max-device-width:780px) and (min-device-width: 480px) {
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-evenly;
         align-content: center;
         
     }
     
     header{
         background-image:none;
        
         } 
     nav .menu_deroulant{
    list-style-type: none;
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:3px;
    background-color: red;
    }
    nav .menu_deroulant li a{
    text-decoration:none;
    color:darkblue;
    font-family:fantasy;
    font-size:22px;
    
}
.scroll{
    display:none;
}
header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
object{
    display: none;
}
.actu{
    width: 90%;
}

/*Pied de la page*/
 footer{
     width:100%;
     background-color:darkblue;
     margin-bottom: 0px;
     text-align: center;
     display:flex;
    flex-direction: column-reverse;
    justify-content:space-around;
 }
footer section{
     height:300px;
}
footer section h3{
     
      color:white;
      font-family:sans-serif;
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-family:sans-serif;
     font-size:17px;
     width:80%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
    
       width:100%;
       height:80px;
 }
 }
 @media only screen and (max-device-width: 1290px) and (min-device-width: 780px) {
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-evenly;
         align-content: center;
         
     }
     
     header{
         background-image:none;
        
         } 
     nav .menu_deroulant{
    list-style-type: none;
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:3px;
    background-color: red;
    }
    nav .menu_deroulant li a{
    text-decoration:none;
    color:darkblue;
    font-family:fantasy;
    font-size:22px;
    
}
.scroll{
    display:none;
}
header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
object{
    display: none;
}
.actu{
    width: 90%;
}


 }
