
/* 
    Created on : 19 mai 2023, 13:11:28
    Author     : sdayar
description : veille juridique 

*/
body{
    margin:0px;
    padding:0px;
    font-family:system-ui;
}
html{
    scroll-behavior:smooth;
}
header{
  height:250px;
  width:100%;
}
/*Barre latérale*/
header section{
    display:none;
    position:fixed;
    width:100%;
    top:0px;
    background-color:white;
  }
  header section .cont_menu_lat{
    display:none;
    position:absolute;
    z-index: 3;
    width:100%
     
 }

 article .barrelat{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: white;
    animation: barrelat 1s ease;
    width:90%;
    margin-top:-9px;

  }
  article .barrelat li {
    margin: 15px ;
  }
/*article .barrelat li:last-child
{
    background-color:black;
    color:white;
    border:1px solid transparent;
    border-radius:5px 5px 5px 5px;
    
}*/
  article .barrelat li a{
    text-decoration:none;
    color:black;
    font-size:1em;
  }
  }

  /*Animation de la barre latérale*/
@keyframes barrelat{
    from{
        opacity: 0px;
        transform: translateX(-8px);
    }
    to{
        opacity: 1px;
        transform: translatX(0px);
    }
}
.btn_menu_lat:hover{
    cursor: pointer;
  }
  .nom{
    background-image: 
linear-gradient(90deg, rgba(129,129,129,1) 0%, rgba(42,44,47,1) 36%, rgba(53,53,61,1) 68%, rgba(204,202,202,1) 84%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: white;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} 
.croix,.btn_menu_lat{
    position:fixed;
}
.croix{
   right:3%;/*Abscisse*/
    top:2%;/*Ordonné*/
}
.btn_menu_lat{
    left:2%;/*Abscisse*/
    top:2%;/*Ordonné*/
    }
/*Fin de la barre latérale*/
nav .menu_deroulant{
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    margin-top:0px;
    
}
nav .menu_deroulant li a{
    text-decoration:none;
    color:black;
    font-size:1em;
}
/*animation pour surligner les rubriques*/
nav .menu_deroulant li::after{
     content:"";  
     display:flex;
     height:3px;
     margin: 0 auto;
     width:0%;
     transition: width 1s ease-in-out;
     background:linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(42,44,47,1) 36%, rgba(83,83,92,1) 52%, rgba(204,202,202,1) 84%);
}
nav .menu_deroulant li:hover::after{
       width:100%;
}
 /*Fin de l'animation*/
 /*Barre de navigation au scroll*/
.scroll{
    background:linear-gradient(90deg, rgba(210,210,210,1) 0%, rgba(167,188,220,1) 36%, rgba(128,128,141,1) 52%, rgba(204,202,202,1) 84%);
    width:100%;
    top:0px;
    position:fixed;
    height:50px;
    
 }
.scroll .menu_deroulant{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
 }
 
.scroll .menu_deroulant li{
    margin-top:0px;
}
 /*Fin de la barre de navigation au scroll*/
 
 /*Barre de navigation "Veilles"*/
 .sous_barre{
   list-style-type:none;
   display:none;
   flex-direction: column;
   justify-content: center;
   position:absolute;
   background-color: white;
   border-radius:5px;
   }
.menu_deroulant > li:hover .sous_barre{
        display:flex;
   }
   .menu_deroulant li .sous_barre li a{
    text-decoration:none;
    font-size:1em;  
    color:black;
   }
 .titre{
    width:30%;
    height:100px;
 }
 .titre article{
     width:100%;
     background-color:transparent;
     height:100%;
     display:flex;
     flex-direction:column;
     justify-content:center;
     border-left:2px solid gray;
  }
 /*Fin du bloc titre*/
 /*Boite*/
 .boite{
     margin-top:150px;
     width:90%;
     
     border:1px solid transparent;
     box-shadow:5px 0px 3px gray;
     box-sizing:border-box;
     display:flex;
     flex-direction:row;
 }
 /*Boite actualité*/
 .actu{
     margin-top:50px;
     width:30%;
 }
 .actu article{
     border:2px dotted darkred;
     width:100%;
 }
  /*Pied de la page*/
 footer{
     width:100%;
     margin-top:150px;
     background-color:black;
     margin-bottom:0px;
   
    display:flex;
    flex-direction:row;
    justify-content:space-around;
 }
footer section{
     height:300px;
}
footer section h3{
     
      color:white;
      font-family:sans-serif;
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-family:sans-serif;
     font-size:17px;
     width:60%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
       width:97%;
       height:50px;
 }
 @media only screen and (max-device-width: 480px) {
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-evenly;
         align-content: center;
         
     }
     
     header{
         background-image:none;
        
         } 
     nav .menu_deroulant{
    list-style-type: none;
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:3px;
    background-color: red;
    }
    nav .menu_deroulant li a{
    text-decoration:none;
    color:darkblue;
    font-family:fantasy;
    font-size:22px;
    
}
.scroll{
    display:none;
}
header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
object{
    display: none;
}
.actu{
    width: 90%;
}

/*Pied de la page*/
 footer{
     width:100%;
     background-color:black;
     margin-bottom: 0px;
     text-align: center;
     display:flex;
    flex-direction: column-reverse;
    justify-content:space-around;
 }
footer section{
     height:300px;
}
footer section h3{
     
      color:white;
      font-family:sans-serif;
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-family:sans-serif;
     font-size:17px;
     width:80%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
    
       width:100%;
       height:80px;
 }
 }
 @media only screen and (max-device-width:780px) and (min-device-width: 480px) {
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-evenly;
         align-content: center;
         
     }
     
     header{
         background-image:none;
        
         } 
     nav .menu_deroulant{
    list-style-type: none;
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:3px;
    background-color: red;
    }
    nav .menu_deroulant li a{
    text-decoration:none;
    color:darkblue;
    font-family:fantasy;
    font-size:22px;
    
}
.scroll{
    display:none;
}
header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
object{
    display: none;
}
.actu{
    width: 90%;
}

/*Pied de la page*/
 footer{
     width:100%;
     background-color:black;
     margin-bottom: 0px;
     text-align: center;
     display:flex;
    flex-direction: column-reverse;
    justify-content:space-around;
 }
footer section{
     height:300px;
}
footer section h3{
     
      color:white;
      font-family:sans-serif;
 }
 .liens{
     width:100%;
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
 }
 input[type=submit]{
     height:30px;
     border:1px solid white;
     border-radius:5px;
     color:black;
     font-family:sans-serif;
     font-size:17px;
     width:80%;
     transition:width 1s ease-in-out;
}
input[type=submit]:hover{
      width:100%;
}
textarea{
    
       width:100%;
       height:80px;
 }
 }
 @media only screen and (max-device-width: 1290px) and (min-device-width: 780px) {
     body{
         display:flex;
         flex-direction:column;
         justify-content:space-evenly;
         align-content: center;
         
     }
     
     header{
         background-image:none;
        
         } 
     nav .menu_deroulant{
    list-style-type: none;
    display:none;
    flex-direction:column;
    justify-content:space-evenly;
    margin-top:3px;
    background-color: red;
    }
    nav .menu_deroulant li a{
    text-decoration:none;
    color:darkblue;
    font-family:fantasy;
    font-size:22px;
    
}
.scroll{
    display:none;
}
header section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
object{
    display: none;
}
.actu{
    width: 90%;
}


 }
